.items{
    width: 100%;
    padding: 5px 0;
}

.list{
    display: flex;
    justify-content: space-between;
    padding: 1px 10px;
    background-color: var(--color-dark);
    border-radius: 10px;
    margin: 8px 0;
}
p{
    color: #fff;
    padding: 0 5px;
}
.buttons{
    margin: 15px 15px;
}

.complete{
    background-color: #02943a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.complete:hover{
    background-color: #35af64;
}

.remove{
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}
.remove:hover{
    background-color: rgb(235, 45, 45);
}
.check{

}