.items{
    width: 100%;
    padding: 5px 0;
}

.list{
    display: flex;
    justify-content: space-between;
    padding: 1px 10px;
    background-color: var(--color-dark);
    border-radius: 10px;
    margin: 8px 0;
}
p{
    color: #fff;
    padding: 0 5px;
}
.buttons{
    margin: 15px 15px;
}
/* 
.complete{
    background-color: #02943a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.complete:hover{
    background-color: #35af64;
} */

.remove{
    color: #d9534f;
}
.remove:hover{
    color: #dd403b;
}

.icons{
    /* position: absolute; */
    transform: translateY(30%);
    width: auto;
    display: inline-block;
}
.icons span{
    display: inline-block;
    margin: 0 10px 0 10px;
    color: #02943a;
    cursor: pointer;
}
.icons span:hover{
    color: #35af64;
}
