.hero{
    width: 60vw;
    height: auto;
}
.info{
    width: 100vh;
    background-color: var(--color-darkest);
    border-radius: var(--border-radius-primary);
    padding: calc(var(--distance-primary) / 2) var(--padding-primary);
    margin-top: var(--margin-primary);
}
