
.additem{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.todoinpt{
    padding: 8px 30px;
    background-color: var(--color-dark);
    border: 2px solid #33e878;
    border-radius: 15px 0  0  15px;
}
.todoinpt:focus{
    outline: none;
}
.todobtn{
    background-color: #33e878;
    margin: 0 5px;
    padding: 7px 20px;
    border: none;
    border-radius: 0 15px 15px 0;
    color: var(--color-dark);
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}
.todobtn:hover{
    background-color: #35af64;
}