.Header{
    display: flex;
    justify-content: center;
    color: var(--color-light);
    padding: 5px;
}
.Header h4{
    margin: 0;
    font-size: 25px;
}
.links button{
    background-color: var(--color-dark);
    border: none;
    cursor: pointer;
    color: rgba(138, 139, 140, 0.818);
}
.links button:focus{
    color: #fff;
}
.login{
    border: none;
    margin-right: 5px;
}
.signin{
    border: none;
}
